/* Import Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
/* Base structure */
html, body { height: 100% !important; font-size: 16px; line-height: 1.8; font-family: "Open Sans", sans-serif; color: #383A44; }

/* Preloader */
#preloader { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #303030; z-index: 1001; height: 100%; width: 100%; overflow: hidden; }

#status { width: 64px; height: 64px; position: absolute; left: 50%; top: 50%; margin: -32px 0 0 -32px; background-image: url("../images/loader.gif"); }

/* Links */
a, .btn, button { text-decoration: underline; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; }
a:focus, a:hover, .btn:focus, .btn:hover, button:focus, button:hover { color: #777777; text-decoration: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

/* button styling */
.btn, button { text-decoration: none; }
.btn:hover, button:hover { color: #fff; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.btn-default:hover, .btn-default:focus { background: transparent; }

.btn, .border-button, .border-button-black, .border-button-blue { font-size: 16px; padding: 10px 30px; font-weight: 400; display: inline-block; text-decoration: none; border-radius: 2px; text-shadow: none; }
.btn:hover, .btn:focus, .border-button:hover, .border-button:focus, .border-button-black:hover, .border-button-black:focus, .border-button-blue:hover, .border-button-blue:focus { opacity: 0.5; }

.btn-stretch { width: 100%; display: block; font-size: 20px; margin-bottom: 15px; }

.border-button { border: 2px solid #eee; color: #eee; margin-right: 10px; }
.border-button:hover, .border-button:focus { color: #fff; }

.border-button-black { border: 1px solid #1b1f23; background: transparent; color: #1b1f23 !important; }
.border-button-black.active { border-color: #0077c0; -moz-box-shadow: 0 0 3px #0077c0; -webkit-box-shadow: 0 0 3px #0077c0; box-shadow: 0 0 3px #0077c0; }

.border-button-blue { border: 1px solid #0077c0; background: transparent; color: #0077c0 !important; }
.border-button-blue.active { background: #0077c0; color: #fff !important; }

/* Text */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { clear: both; line-height: 1.8; text-transform: uppercase; font-weight: 800; letter-spacing: 3px; }

h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 30px; position: relative; }

h2, .h2 { font-size: 35px; line-height: 1; }
h2 a:hover, .h2 a:hover, h2 a:focus, .h2 a:focus { text-decoration: none; }
@media (max-width: 768px) { h2, .h2 { font-size: 25px; margin-bottom: 20px; } }

p { padding-bottom: 20px; }

.lead { font-weight: 400; }
.lead strong { font-weight: 700; }

.thin { font-weight: 400; }

.terms { font-size: 12px; color: #777; }

.icon { text-decoration: none !important; }
.icon:before { text-decoration: none !important; }

.icon-heading { line-height: 96px; }

img { max-width: 100%; }
img + h2, img + .h2 { margin-top: -20px; }

/* Sections */
section { padding: 100px 0; }
@media (max-width: 1200px) { section { padding: 50px 0; } }

.well-bordered { background: none; }

.fixed { background-attachment: fixed !important; }

hr { border-top: 1px solid #ccc; }

.wrapper { display: table; width: 100%; height: 100%; min-height: 100%; text-align: center; color: #fff; z-index: 99; position: relative; overflow: hidden; background-color: #1b1f23; background-repeat: no-repeat; background-position: 50% 50%; padding: 50px 0; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }
.wrapper.wrapper-half { height: 50%; min-height: 50%; }

.wrapper-inner { display: table-cell; vertical-align: top; position: relative; }

.inner { padding: 70px 15px 15px; }

/* heroshot */
#top { background-color: #0852b0; background-image: url(../images/video-bg.jpg); }
#top .overlay { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyNzNiYyIgc3RvcC1vcGFjaXR5PSIwLjciLz48c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(34, 115, 188, 0.7)), color-stop(90%, rgba(0, 0, 0, 0.85))); background: -moz-linear-gradient(bottom, rgba(34, 115, 188, 0.7), rgba(0, 0, 0, 0.85) 90%); background: -webkit-linear-gradient(bottom, rgba(34, 115, 188, 0.7), rgba(0, 0, 0, 0.85) 90%); background: linear-gradient(to top, rgba(34, 115, 188, 0.7), rgba(0, 0, 0, 0.85) 90%); }

/* Hero Can */
#hero-can { margin: 0 auto; width: 30%; max-width: 300px; min-width: 180px; z-index: 999; position: relative; }
#hero-can .can-lift { zoom: 1; display: block; position: relative; z-index: 100; width: 100%; }

.overlay, .overlay-dark { width: 100%; height: 100%; position: absolute; z-index: 0; top: 0; left: 0; background: rgba(0, 0, 0, 0.4); }

.overlay-dark { background: rgba(0, 0, 0, 0.6); }

.cover { padding: 0 10px; }
.cover h1, .cover .h1 { font-size: 56px; padding-bottom: 0; margin-bottom: 20px; margin-top: 0; -moz-transition: 0.8s; -o-transition: 0.8s; -webkit-transition: 0.8s; transition: 0.8s; }
.cover h1.is-visible, .cover .is-visible.h1 { margin-top: -120px; }

.cover-container { margin-right: auto; margin-left: auto; }

/* Action */
.parallax { margin: 0 auto; width: 100%; position: relative; z-index: 999; background: no-repeat 50% 50%; color: #fff; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }
.parallax a { color: #fff; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
.parallax .overlay-dark { z-index: 0; }
.parallax .icon-heading { font-size: 64px; line-height: 96px; padding-top: 30px; display: block; }

#purchase-stats { background-image: url(../images/cityscape1.jpg); }

/* Horizontal Nav */
.navbar-brand { padding: 0; width: 145px; height: 51px; background: url("../images/brand-logo_full-color-sprite.png") bottom no-repeat; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transition: opacity 100ms linear; -o-transition: opacity 100ms linear; -webkit-transition: opacity 100ms linear; transition: opacity 100ms linear; }
.affix-top .navbar-brand { background-position: top; }

.navbar-default { background-color: #fff; -moz-transition: all 0.4s ease-in-out 0s; -o-transition: all 0.4s ease-in-out 0s; -webkit-transition: all 0.4s ease-in-out; -webkit-transition-delay: 0s; transition: all 0.4s ease-in-out 0s; }
.navbar-default .nav > li > a { text-transform: uppercase; font-size: 12px; font-weight: 700; color: #333; letter-spacing: 0.1em; text-decoration: none; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.navbar-default .nav > li > a:focus, .navbar-default .nav > li > a:hover { color: #789; }
.navbar-default .nav > li.active > a { color: #789 !important; background-color: transparent !important; }
.navbar-default .navbar-toggle { border: 0; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: transparent; }
.navbar-default .navbar-toggle .icon-bar { width: 28px; height: 3px; background-color: #789; }

/* Numscroller */
.numscroller { display: block; font-size: 68px; font-weight: 300; }

/* Features */
#features { background: #fff; overflow: hidden; }
@media (min-width: 768px) { #features { padding-bottom: 100px; } }
#features h4, #features .h4 { position: relative; display: inline-block; top: 55px; margin-bottom: 65px; padding-left: 40px; font-size: 16px; margin-top: 0; }
@media (max-width: 768px) { #features h4, #features .h4 { display: block; text-align: center !important; font-size: 18px; padding-left: 0; top: 0px; margin-bottom: 10px; } }
#features h4:before, #features .h4:before { display: block; content: ""; position: absolute; left: 4px; border-bottom: #0077c0 solid 2px; bottom: 0; right: 0; }
@media (max-width: 768px) { #features h4:before, #features .h4:before { display: none; } }
#features h4 i, #features .h4 i { display: inline-block !important; position: absolute; left: -32px; bottom: -17px; height: 38px; width: 38px; border: solid 2px #0077c0; line-height: 35px; text-align: center !important; border-radius: 50%; z-index: 99; font-size: 24px; padding: 0 0 0 3px; }
@media (max-width: 768px) { #features h4 i, #features .h4 i { display: block !important; position: relative; font-size: 30px; left: auto; top: 0px; height: 58px; width: 58px; line-height: 55px; margin: 50px auto 10px; } }
#features img { width: auto; max-width: initial; position: absolute; left: -360px; }
#features p:not(.lead) { padding: 0 0 0 40px; margin-bottom: 0; font-size: 14px; }
@media (max-width: 768px) { #features p:not(.lead) { text-align: center; padding: 0 20px; } }

/* testimonials */
#testimonials { background: #1b1f23; color: #fff; }
#testimonials .carousel-inner { text-align: center; min-height: 280px; }
#testimonials .carousel-inner img { width: 200px; height: 200px; border-radius: 50%; display: inline-block !important; margin-top: 20px; }
#testimonials .carousel-inner, #testimonials .carousel-caption { position: static; text-shadow: none; font-size: 20px; }
#testimonials .carousel-indicators li { width: 16px; height: 16px; margin: 0 5px -50px; background-color: #fff; border: 0; }
#testimonials .carousel-indicators li.active { background-color: #666; }
#testimonials .carousel-name { font-style: italic; font-weight: 300; color: #999; display: block; padding-top: 20px; }
#testimonials .carousel-name small { font-style: normal; color: #0077c0; font-weight: 700; }

.carousel-fade .carousel-inner .item { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition-property: opacity; -o-transition-property: opacity; -webkit-transition-property: opacity; transition-property: opacity; }
.carousel-fade .carousel-inner .active { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { left: 0; z-index: 1; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .next.right { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.carousel-fade .carousel-control { z-index: 2; }

@media all and (transform-3d), (-webkit-transform-3d) { .carousel-fade .carousel-inner .item.next, .carousel-fade .carousel-inner .item.active.right, .carousel-fade .carousel-inner .item.prev, .carousel-fade .carousel-inner .item.active.left { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  .carousel-fade .carousel-inner .item.next.left, .carousel-fade .carousel-inner .item.prev.right, .carousel-fade .carousel-inner .item.active { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
/* Pricing */
#pricing { background: #eee; color: #1B1F23; padding-bottom: 100px; }
#pricing h2, #pricing .h2 { margin-bottom: 10px; }
#pricing img { width: 1100px; max-width: initial; position: absolute; left: -850px; top: 40px; }
#pricing form { position: relative; }
#pricing select, #pricing input { border-color: #999; }

.number { font-size: 40px; font-weight: 400; display: block; padding-right: 0; padding-left: 0; letter-spacing: 0; height: 70px; }
.number span { position: absolute; }

/* checkout page styling */
#checkout-page .navbar-default { border-bottom: solid 1px #eaeaea; }
#checkout-page .navbar-brand { background-position: bottom; }
#checkout-page .btn-stretch { background: #4bb232; }
#checkout-page form p, #checkout-page form .lead, #checkout-page form label { margin-bottom: 0; }
#checkout-page h1, #checkout-page .h1, #checkout-page h4, #checkout-page .h4 { font-weight: 600; }

#checkout-section { padding: 0 0 100px; }

#timer { margin-right: 10px; }

/* checkout summary table */
#checkout-summary table { width: 100%; font-size: 14px; }
#checkout-summary tr { border: solid 1px #eaeaea; border-left: none; border-right: none; }
#checkout-summary tr:first-child { border-top: none; }
#checkout-summary tr:last-child { border-bottom: none; }
#checkout-summary tr:last-child td { font-weight: bold; font-size: 15px; }
#checkout-summary tr:last-child td:last-child { color: #8cc641; }
#checkout-summary td { padding: 15px 0; }
#checkout-summary td a { font-size: 12px; margin-left: 5px; }
#checkout-summary td i { color: #aaa; margin-left: 5px; }
#checkout-summary td i.original-flavor { color: #0077c0; margin-right: 5px; }
#checkout-summary td:last-child { text-align: right; font-weight: bold; }

/* Misc form styling */
input[type="radio"] { margin-right: 10px; }

.form-legend { font-weight: 600; color: #777; padding-bottom: 10px; margin-top: 25px; }

.form-control { background: transparent; }
.form-control:focus { border-color: #333; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.input-lg { padding: 6px 0 4px 10px; }

/* Sponsors section */
#sponsor { padding: 30px 0; background: #f2f2f2; }
#sponsor p { line-height: 100px; padding-bottom: 0; margin-bottom: 0; }
#sponsor img { max-width: 170px; max-height: 100px; vertical-align: middle; }

/* Footer */
#footer { position: relative; z-index: 999; overflow: hidden; background: #1b1f23 url(../images/footer.jpg) no-repeat 50% 50%; color: #fff; font-weight: 700; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }
#footer h3, #footer .h3 { font-weight: 700; }
#footer p, #footer a { position: relative; color: #fff; text-decoration: none; }
#footer p { padding-bottom: 20px; }
#footer .list-inline { margin-top: 15px; }
#footer i { font-size: 28px; }

@media (max-width: 768px) { .offset-top { padding-top: 49px; }
  h1, .h1 { font-size: 26px; } }
@media (min-width: 768px) { .navbar-default { border: 0; background-color: transparent; padding: 26px 0; }
  .navbar-default .navbar-header .navbar-brand { color: #fff; font-size: 26px; }
  .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus { color: #fff; }
  .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus { color: rgba(255, 255, 255, 0.7); }
  .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:foucs:hover { color: #fff; }
  .navbar-default.affix { background-color: rgba(238, 238, 238, 0.9); padding: 12px 0; -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3); }
  .navbar-default.affix .nav > li > a, .navbar-default.affix .nav > li > a:focus { color: #333; }
  .navbar-default.affix .nav > li > a:hover, .navbar-default.affix .nav > li > a:focus:hover { color: #789; } }
@media (min-width: 768px) { .cover-container { padding-top: 100px; width: 100%; }
  .wrapper-inner { vertical-align: middle; }
  .lead { font-size: 18px; line-height: 1.9; } }
@media (min-width: 992px) { .cover-container { max-width: 800px; }
  .carousel-indicators { text-align: left; padding-left: 40px; }
  #testimonials .carousel-inner img { float: left; }
  #testimonials .carousel-caption { text-align: left; padding-left: 40px; overflow: hidden; }
  .carousel-indicators { bottom: 50px; padding-left: 90px; } }
@media (max-width: 992px) { .cover h1, .cover .h1 { font-size: 40px; margin-bottom: 40px; line-height: 1.2; }
  h3, .h3 { font-size: 20px; margin-top: 10px; margin-bottom: 15px; } }
@media (max-width: 768px) { h1, .h1 { font-size: 26px; }
  h2, .h2 { font-size: 25px; margin-bottom: 20px; }
  .navbar-brand { background-position: bottom !important; height: 40px; width: 144px; background-size: 80%; position: relative; top: 7px; }
  #menu-toggle { top: 0; right: 5px; }
  .toggle { margin: 0; }
  .numscroller { line-height: 70px; } }
