/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

html, body {
	height: 100%;
	width: 100%;
	}

body {
	background-color: #f0f0f0;
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.6)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(0.75, rgba(255, 255, 255, 0.199219)), color-stop(0.75, transparent), to(transparent));
	}

header, section, footer {
	display: block;
	width: 600px;
	margin: 0 auto;
	text-align: center;
	}

h1 {
	color: white;
	font-family: arial, sans-serif;
	font-size: 150px;
	margin-bottom: 15px;
	text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  	}
h2 {
	color: #7a7a7a;
	font-style: italic;
	position: relative;
	margin-bottom: 100px;
	}

a {
	color: #7a7a7a;
	}

@mixin gellyBtn($color) {
	@include border-radius(30px);
	background-color: $color;
	@include box-shadow(rgba(0,0,0,.45), 0, 2px, 2px);
	@include linear-gradient(color-stops(lighten($color, 50%), $color));
	border: 1px solid $color;
	color: white;
	clear: left;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 26px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 2px 1px rgba(0,0,0,.65);
	text-transform: uppercase;
	text-align: center;
	-webkit-box-reflect: below -1px
	-webkit-gradient(
	  linear, left top, left bottom, 
	  from(transparent), color-stop(0.2, transparent), color-stop(0, transparent), color-stop(0, transparent), color-stop(0, transparent), to(rgba(255,255,255,.25)));
	&:before {
		@include border-radius(25px);
		content: "";
		display: block;
		height: 13px;
		left: 5%;
		position: absolute;
		top: 1px;
		@include linear-gradient(color-stops(rgba(255,255,255,.15), rgba(255,255,255,.45)));
		width: 91%;
		}
	&:hover {
		@include linear-gradient(color-stops(lighten($color, 30%), darken($color, 10%)));
		border: 1px solid darken($color, 10%);
		}
	&:active {
		cursor: pointer;
		top: 1px;
		}
	}


	
	.gelly {
		&.blue {
			@include gellyBtn(#0099cc);
			}
		&.gray {
			@include gellyBtn(#252424);
			}
		&.purple {
			@include gellyBtn(#5b368c);
			}
		&.green {
			@include gellyBtn(#029d20);
			}
		}